{% extends 'base.html' %}

{% block content %}
<div class="bg-white p-6 rounded-xl shadow">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-bold">Produtos</h2>
        <a href="{% url 'criar_produto' %}" class="bg-blue-500 text-white px-4 py-2 rounded">+ Novo</a>
    </div>

    <form method="get" class="mb-4 flex gap-2">
        <input type="text" name="q" placeholder="Buscar..." class="border p-2 rounded w-full">
        <button class="bg-slate-800 text-white px-4 rounded">Buscar</button>
    </form>

    <table class="w-full border">
        <thead class="bg-gray-200">
            <tr>
                <th class="p-2 text-left">Nome</th>
                <th class="p-2">Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr class="border-t">
                <td class="p-2">{{ produto.nome }}</td>
                <td class="p-2 flex gap-2 justify-center">
                    <a href="{% url 'editar_produto' produto.id %}" class="bg-yellow-400 px-3 py-1 rounded">Editar</a>
                    <a href="{% url 'deletar_produto' produto.id %}" class="bg-red-500 text-white px-3 py-1 rounded">Excluir</a>
                </td>
            </tr>
        {% empty %}
            <tr><td class="p-2">Nenhum produto encontrado</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
